<h1><%= t('stores')%></h1>
<%= link_to t('new_store'), new_admin_store_path %>
<ul>
    <% @stores.each do |store| %>
        <li>
            <%= store.id %>
            <a href="<%= admin_store_path(store) %>">
                <%= store.name %>
            </a>
        </li>
    <% end %>
</ul>
