<h1><%= @store.name %></h1>

<%= link_to t('all_stores'), admin_stores_path %>
<%= link_to t('edit_store'), edit_admin_store_path(@store) %>
<%= link_to t('destroy_store'), admin_store_path(@store), data: {
    turbo_method: :delete,
    turbo_confirm: t('confirm_destroy')
} %>

</br></br>
<b>CEP:</b> <%= @store.address.cep %> </br>
<b>State:</b> <%= @store.address.state %> </br>
<b>City:</b> <%= @store.address.city %> </br>
<b>District:</b> <%= @store.address.district %> </br>
<b>Street:</b> <%= @store.address.street %> </br>
<b>Number:</b> <%= @store.address.number %> </br>
<b>Complement:</b> <%= @store.address.complement %>
